---
title: 'Contact The Artisan Atlas'
description: 'contact The Artisan Atlas'
preloadImg: '/assets/images/employee_apron.jpg'
permalink: 'contact-us/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

<section id="cs-contact" class="steps-1893">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/employee_apron.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/employee_apron.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/employee_apron.jpg" alt="employee" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="100" height="98" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="42" height="31" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="136" height="171" aria-hidden="true">
            <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="159" height="88" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="150" height="165" aria-hidden="true">
        </div>
        <div class="cs-wrapper">
            <!-- TO DO: Create a custom thank you page, currently just redirecting to home i.e. /-->
            <form id="cs-form" name="Contact Form" method="POST" data-netlify="true" action="/" data-netlify-recaptcha="true">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">Drop us a message to see how we can help!</p>
                </div>
                <input type="hidden" name="form-name" value="contact">
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Say hi..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}