/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-contact {
    padding: var(--sectionPadding);
    font-family: "Roboto", "Arial", sans-serif;
  }
  #cs-contact {
    padding: var(--sectionPadding);
    background-color: #F6EDDF;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(704/16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: calc(32/16 * 1rem);
      padding-top: 5rem;
    }

    .cs-image-group {
      font-size: min(2.24vw, .9rem);
      width: calc(482/16 * 1em);
      height: calc(616/16 * 1em);
      display: block;
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      width: calc(413/16 * 1em);
      height: calc(593/16 * 1em);
      margin-top: calc(24/16 * 1em);
      box-sizing: border-box;
      background-color: #DAB692;
      overflow: hidden;
      border: 8px solid #DAB692;
      border-radius: calc(260/16 * 1rem);
      position: absolute;
      right: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.7s;
      }
    }

    .cs-graphic {
      height: auto;
      position: absolute;
    }

    .cs-brown {
      width: calc(165/16 * 1em);
      height: auto;
      top: calc(20/16 * 1em);
      left: calc(24/16 * 1em);
      z-index: -2;
      transform: rotate(140deg);
    }

    .cs-peach {
      width: calc(69/16 * 1em);
      height: auto;
      top: calc(16/16 * 1em);
      left: calc(140/16 * 1em);
      transform: rotate(-40deg);
    }

    .cs-leaf {
      width: calc(224/16 * 1em);
      height: auto;
      bottom: calc(0/16 * 1em);
      right: calc(16/16 * 1em);
      z-index: 1;
    }

    .cs-dots {
      width: calc(261/16 * 1em);
      height: auto;
      left: calc(16/16 * 1em);
      bottom: calc(16/16 * 1em);
      z-index: -2;
    }

    .cs-lines {
      width: calc(246/16 * 1em);
      right: 0;
      bottom: calc(0/16 * 1em);
    }

    .cs-wrapper {
      display: flex;
      flex-direction: column;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-topper {
      color: var(--secondary);
    }

    .cs-title {
      margin: 0;
    }

    .cs-card-group {
      margin: 0;
      padding: 0;
      display: grid;
      align-items: stretch;
      grid-auto-flow: row;
      /* 24px - 32px */
      gap: clamp(1.5rem, 3vw, 2rem);
    }

    .cs-item {
      list-style: none;
      padding-bottom: calc(32/16 * 1rem);
      border-bottom: #DED1BD 1px solid;
      display: flex;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2vw, 1.5rem);
      position: relative;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .cs-number {
      /* 49px - 72px */
      font-size: clamp(3.0625rem, 6vw, 4.5rem);
      font-weight: 900;
      line-height: calc(19/16 * 1em);
      color: var(--primary);
      opacity: 0.2;
      display: block;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      font-weight: 700;
      line-height: calc(18/16 * 1em);
      margin: 0 0 calc(12/16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      font-size: calc(16/16 * 1rem);
      line-height: calc(24/16 * 1em);
      text-align: left;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }

  #cs-contact .cs-container {
    margin: auto;
    /* changes to 1280px at desktop */
    max-width: 60rem;
    width: 100%;
  }
  #cs-contact .cs-content {
    width: 100%;
  }
  #cs-contact .cs-topper {
    /* 8px - 12px */
    margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
    text-align: left;
  }
  #cs-contact .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #cs-contact .cs-text {
    margin: 0 auto 0 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
    /* 404px - 522px */
    max-width: clamp(25.25rem, 30vw, 32.625rem);
    text-align: left;
  }
  #cs-contact #cs-form {
    margin-bottom: 2.5rem;
  }
  #cs-contact #cs-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #cs-contact #cs-form .cs-label-message {
    /* 32px - 48px */
    margin-bottom: clamp(2rem, 6.3vw, 3rem);
  }
  #cs-contact #cs-form input,
  #cs-contact #cs-form textarea {
    border: 1px solid #b4b2c7;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    height: 4rem;
    width: 100%;
    /* prevents border & padding from affecting height */
    box-sizing: border-box;
    padding-left: 1.25rem;
    font-size: 1rem;
    transition: border 0.3s;
  }
  #cs-contact #cs-form input:hover,
  #cs-contact #cs-form textarea:hover {
    border: 1px solid var(--primary);
  }
  #cs-contact #cs-form textarea {
    min-height: 7.5rem;
    padding-top: 1.25rem;
    font-family: inherit;
  }
  #cs-contact #cs-form .cs-button-solid {
    border: none;
    width: 100%;
  }
  #cs-contact .cs-right-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0.5rem;
    height: 20rem;
    /* cuts off corners on img tag */
    overflow: hidden;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
  }
  #cs-contact .cs-header {
    display: block;
    margin-bottom: 0.5rem;
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
  }
  #cs-contact .cs-link {
    position: relative;
    display: block;
    margin-bottom: 1.25rem;
    text-decoration: none;
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    color: var(--bodyTextColorWhite);
  }
  #cs-contact .cs-link:before {
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    /* Animated underline */
    content: "";
    opacity: 1;
    display: block;
    /* current color of the parent */
    background: currentColor;
    height: 2px;
    width: 0%;
    transition: width 0.3s;
  }
  #cs-contact .cs-link:hover:before {
    width: 100%;
  }
  #cs-contact .cs-link:last-of-type {
    margin-bottom: 0;
  }
  #cs-contact .cs-block {
    /* sends second address line to the bottom on its own line */
    display: block;
  }
  #cs-contact .cs-bg-picture {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
  }
  #cs-contact .cs-bg-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #cs-contact .cs-bg-picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* background color overlay */
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    height: 100%;
    width: 100%;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
  #cs-contact #cs-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  #cs-contact #cs-form label {
    width: 48%;
  }
  #cs-contact #cs-form .cs-label-message {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  .steps-1893 {
    .cs-container {
      max-width: calc(1280/16 * 1rem);
      flex-direction: row;
      align-items: stretch;
      /* 48px - 60px */
      gap: clamp(3rem, 6vw, 3.75rem);
    }

    .cs-card-group {
      /* 16px - 32px */
      gap: clamp(1rem, 3vw, 2rem);
    }

    .cs-item {
      flex-direction: row;
    }

    .cs-image-group {
      font-size: min(1.5vw, 1rem);
      height: auto;
      min-height: calc(616/16 * 1em);
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }

    .cs-picture {
      height: 96.266234%;
    }
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 80rem;
    gap: 5rem;
  }
  #cs-form {
    max-width: 39.375rem;
  }
  #cs-form label {
    width: 100%;
  }

  .cs-block {
    /* goes back to inline so it stays "in line" with the rest of the text */
    display: inline-block;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #cs-form {
    column-gap: 0rem;
  }
  #cs-form label {
    max-width: 19.0625rem;
    width: 48%;
  }
  #cs-form .cs-label-message {
    max-width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    .steps-1893 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-picture {
        border-color: var(--accent);
      }

      .cs-graphic {
        opacity: 0.6;
      }

      .cs-peach {
        opacity: 1;
        filter: brightness(60%);
      }

      .cs-number {
        color: var(--primaryLight);
        opacity: 0.6;
      }

      .cs-title, .cs-h3, .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        border-color: rgba(255, 255, 255, .2);
      }

      .cs-item-text {
        opacity: 0.8;
      }
    }
  }
  body.dark-mode #steps-1893 .cs-text,
  body.dark-mode #steps-1893 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact #cs-form label,
  body.dark-mode #cs-contact #cs-form input,
  body.dark-mode #cs-contact #cs-form textarea {
    background-color: transparent;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact #cs-form label::placeholder,
  body.dark-mode #cs-contact #cs-form input::placeholder,
  body.dark-mode #cs-contact #cs-form textarea::placeholder {
    /* lighten up the color of the text by 40%*/
    filter: brightness(1.4);
  }
  body.dark-mode #cs-contact .cs-bg-picture {
    background-color: #000;
  }
  body.dark-mode #cs-contact .cs-bg-picture img {
    /* lets parent background-color bleed through and darken it */
    opacity: 0.5;
  }
}

/*# sourceMappingURL=contact.css.map */
