/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #events-1928 {
        width: 100%;
        padding: var(--sectionPadding);
        background-color: #f6eddf;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(784/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(80/16 * 1rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 3;
        }

        .cs-title {
            margin: 0;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: transparent;
            overflow: hidden;
            color: var(--primary);
            border: 1px solid var(--primary);
            border-radius: calc(100/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);
                color: #fff;
            }
        }

        .cs-image-group {
            font-size: min(2.29vw, 1rem);
            width: calc(527/16 * 1em);
            height: calc(680/16 * 1em);
            display: block;
            position: relative;
            z-index: 2;
        }

        .cs-picture {
            width: calc(522/16 * 1em);
            height: calc(680/16 * 1em);
            box-sizing: border-box;
            background-color: #dab692;
            overflow: hidden;
            border: 8px solid #dab692;
            border-radius: calc(260/16 * 1rem);
            position: absolute;
            right: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-twirl {
            width: calc(177/16 * 1em);
            height: auto;
            top: calc(15/16 * 1em);
            right: 0;
            z-index: 1;
        }

        .cs-peach {
            width: calc(86/16 * 1em);
            height: auto;
            top: calc(-9/16 * 1em);
            right: calc(91/16 * 1em);
        }

        .cs-blob {
            width: calc(528/16 * 1em);
            height: auto;
            right: 0;
            bottom: calc(-48/16 * 1em);
            z-index: -2;
        }

        .cs-leaf {
            width: calc(175/16 * 1em);
            height: auto;
            bottom: calc(16/16 * 1em);
            left: 0;
        }

        .cs-graphic3 {
            /* 385.6px - 835.2px */
            width: clamp(24.1rem, 48vw, 52.2rem);
            height: auto;
            opacity: .5;
            display: none;
            position: absolute;
            top: calc(0/16 * 1rem);
            right: calc(-88/16 * 1rem);
            z-index: 1;
        }

        .cs-graphic4 {
            /* 484px - 835.2px */
            width: clamp(30.25rem, 60vw, 52.2rem);
            height: auto;
            opacity: .5;
            display: none;
            position: absolute;
            top: calc(85/16 * 1rem);
            left: calc(-152/16 * 1rem);
            z-index: 1;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 3vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            text-decoration: none;
            list-style: none;
            width: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* 16px - 24px */
            padding: clamp(1rem, 3vw, 1.5rem);
            background-color: #FAF6F2;
            overflow: hidden;
            /* 24px - 40px */
            border-radius: clamp(1.5rem, 4vw, 2.5rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(32/16 * 1rem);
            position: relative;
            z-index: 1;

            &:hover {
                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-date {
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            /* 56px - 80px */
            width: clamp(8.313rem, 16vw, 9.5rem);
            height: clamp(4.813rem, 10vw, 6rem);
            margin: 0;
            padding: calc(8/16 * 1rem) calc(16/16 * 1rem);
            /* clips the pseudo to remove the corners */
            overflow: hidden;
            color: var(--bodyTextColor);
            border-radius: calc(100/16 * 1rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: border-color .3s;
            flex: none;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background-color: #F6EDDF;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: background-color .3s;
            }

            strong {
                font-size: calc(31/16 * 1rem);
                font-weight: 700;
                line-height: 1.2em;
                color: #000;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 4px - 16px */
            margin: 0 0 clamp(.5rem, 1vw, .75rem);
            color: var(--headerColor);
            transition: color .3s;
        }

        .cs-time {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(8/16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #events-1928 {

        .cs-card-group {
            max-width: clamp(44rem, 80vw, 46.8125rem);
        }

        .cs-item {
            flex-direction: row;
            align-items: center;
        }

        .cs-button-solid {
            margin-left: auto;
        }

        .cs-graphic3 {
            display: block;
        }

        .cs-graphic4 {
            display: block;
        }
    }
}

/* Large Desktop -1300px */
@media only screen and (min-width: 81.25rem) {
    #events-1928 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            padding: calc(48/16 * 1rem) 0;
            align-self: center;
        }

        .cs-image-group {
            flex: none;
            height: auto;
        }

        .cs-picture {
            height: 100%;
        }
    }
}

/* Larger Desktop -1920px */
@media only screen and (min-width: 120rem) {
    #events-1928 {
        .cs-graphic3 {
            width: calc(835/16 * 1rem);
            margin-left: calc(142/16 * 1rem);
            right: auto;
            left: 50%;
        }

        .cs-graphic4 {
            width: calc(835/16 * 1rem);
            margin-right: calc(329/16 * 1rem);
            top: calc(124/16 * 1rem);
            right: 50%;
            left: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #events-1928 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-h3,
            .cs-time, .cs-title, .cs-date, strong {
                color: var(--bodyTextColorWhite);
            }

            .cs-date {
                &:before {
                    background-color: var(--accent);
                }
            }

            .cs-time {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--accent);
            }

            .cs-item {
                background-color: var(--medium);

                &:hover {
                    .cs-h3 {
                        color: var(--secondary);
                    }
                }
            }

            .cs-graphic3, .cs-graphic4 {
                opacity: 0.02;
            }

            .cs-button-solid {
                color: #fff;
                border-color: #fff;
            }
        }
    }
}
